# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.bak

# Git configurations
.git/
.gitignore

# IDEs and OS files
.DS_Store
.vscode/
.idea/
.npm/

# Local workspace artifacts
Dockerfile
.dockerignore
README.md

# Tests and coverage
tests/
coverage/
*.test.js
*.spec.js
